In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df= pd.read_csv('Amazon - Movies and TV Ratings.csv')

In [5]:
df.head()

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN

[5 rows x 207 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Columns: 207 entries, user_id to Movie206
dtypes: float64(206), object(1)
memory usage: 7.7+ MB

In [7]:
df.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

In [8]:
df.describe().T['count'].sort_values(ascending=False)[:1]#movie with max views

Movie127    2313.0
Name: count, dtype: float64

In [9]:
df.drop('user_id',axis=1).sum().sort_values(ascending=False)[:1]#movie with max ratings

Movie127    9511.0
dtype: float64

In [10]:
df.drop('user_id',axis=1).mean().sort_values(ascending=False)[:5].to_frame()

            0
Movie1    5.0
Movie55   5.0
Movie131  5.0
Movie132  5.0
Movie133  5.0

In [11]:
df.drop('user_id',axis=1).sum().sort_values(ascending=False)[:5]#top 5 movies with max ratings

Movie127    9511.0
Movie140    2794.0
Movie16     1446.0
Movie103    1241.0
Movie29     1168.0
dtype: float64

In [12]:
df.describe().T['count'].sort_values(ascending=True)[:5]#movies with lowest views

Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0
Name: count, dtype: float64

In [13]:
'''from sklearn.model_selection import train_test_split, cross_validate 
from sklearn.metrics import accuracy_score
from sklearn import datasets
from sur import reader
from numpy.linalg import svd'''

'from sklearn.model_selection import train_test_split, cross_validate \nfrom sklearn.metrics import accuracy_score\nfrom sklearn import datasets\nfrom sur import reader\nfrom numpy.linalg import svd'

In [15]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 12.6 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619419 sha256=46922bfd39a3381ca7c69d440430e1f6e6b92119405c4a2d5505079e9f6d29c3
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [16]:
from surprise import Reader
from surprise import accuracy
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

In [17]:
df_new = df.melt(id_vars = df.columns[0],value_vars=df.columns[1:],var_name="Movies",value_name="Rating")

In [18]:
df_new.head()

          user_id  Movies  Rating
0  A3R5OBKS7OM2IR  Movie1     5.0
1   AH3QC2PC1VTGP  Movie1     NaN
2  A3LKP6WPMP9UKX  Movie1     NaN
3   AVIY68KEPQ5ZD  Movie1     NaN
4  A1CV1WROP5KTTW  Movie1     NaN

In [19]:
rd = Reader()
data = Dataset.load_from_df(df_new.fillna(0),reader=rd)
data

In [20]:
trainset, testset= train_test_split(data,random_state=619,test_size=0.25)

In [21]:
svd = SVD()
svd.fit(trainset)

In [22]:
pred= svd.test(testset)

In [23]:
accuracy.rmse(pred)

RMSE: 1.0275

1.0275358287070797

In [24]:
accuracy.mae(pred)

MAE:  1.0125

1.0124648200651376

In [25]:
cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0256  1.0258  1.0273  1.0262  0.0008
MAE (testset)     1.0117  1.0119  1.0126  1.0121  0.0004
Fit time          42.67   43.05   42.88   42.87   0.16
Test time         4.94    4.87    5.20    5.00    0.14

{'fit_time': (42.670105934143066, 43.051663875579834, 42.87579417228699),
 'test_mae': array([1.01172335, 1.01187807, 1.01257894]),
 'test_rmse': array([1.02555018, 1.02579828, 1.02729242]),
 'test_time': (4.944520711898804, 4.870288610458374, 5.1971259117126465)}

In [26]:
#df_new.fillna(df_new['Rating'].mean())